@import "../Shared/UnauthorizedLayout";
@import "../Pages/LoginPage";
@import "../Pages/TasksPage";

html, body {
    margin: 0;
    height: 100%;
}

.page {
    height: 100%;
}

div.content {
    height: calc(100% - 3.5rem);
}

.no-pointer-events {
    pointer-events: none;
}

.login-page, .registration-page {
    form {
        width: 400px;
        padding: 20px;
        background: white;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
        border-radius: 5px;
    }
}

ul.validation-errors {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0;

    li.validation-message {
        color: inherit;
        margin-bottom: 10px;
    }
}