@{
    Layout = "_LayoutClean";
    ViewData["Title"] = "Registration page";
}

<div class="registration-form-container p-4">
    <h1 class="mb-4">Please introduce yourself</h1>

    @await Html.PartialAsync("Forms/_RegistrationForm")
</div>